<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAm1_uMKFhZBwCPX6qwTZ2dmYVWLSI3BfI</string>
	<key>GCM_SENDER_ID</key>
	<string>136944866328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petmate</string>
	<key>PROJECT_ID</key>
	<string>petmate-42052</string>
	<key>STORAGE_BUCKET</key>
	<string>petmate-42052.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136944866328:ios:961d8feb71ad83cef95f6d</string>
</dict>
</plist>